<!--
title: Trick Template
description: 
published: false
date: 2026-07-20T13:34:29.911Z
tags: template
editor: ckeditor
dateCreated: 2026-07-20T13:34:29.911Z
-->

<h1>Trick name</h1>
<figure class="table" style="float:right;">
  <table>
    <tbody>
      <tr>
        <td>Trick variation 1</td>
      </tr>
      <tr>
        <td>trick variation 2</td>
      </tr>
      <tr>
        <td>Trick variation 3</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>overview</p>
<h2>media</h2>
<p>X published a totorial video on the trick here:</p>
<p>Video of just the trick</p>
<h2>Tips for learning</h2>
